<web-app>
  <display-name>MultipleServlets</display-name>
  <description>Assignment3-Task2</description>
  
  <servlet>
    <servlet-name>welcome</servlet-name>
    <servlet-class>students.WelcomePage</servlet-class>
    <init-param>
    	<param-name>student_list</param-name>
    	<param-value>/resources/student.txt</param-value>
  	</init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>name</servlet-name>
    <servlet-class>students.NamePage</servlet-class>
    <init-param>
    	<param-name>student_list</param-name>
    	<param-value>/resources/student.txt</param-value>
  	</init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>language</servlet-name>
    <servlet-class>students.LanguagePage</servlet-class>
    <init-param>
    	<param-name>student_list</param-name>
    	<param-value>/resources/student.txt</param-value>
  	</init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>week</servlet-name>
    <servlet-class>students.WeekPage</servlet-class>
    <init-param>
    	<param-name>student_list</param-name>
    	<param-value>/resources/student.txt</param-value>
  	</init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>school</servlet-name>
    <servlet-class>students.SchoolPage</servlet-class>
    <init-param>
    	<param-name>student_list</param-name>
    	<param-value>/resources/student.txt</param-value>
  	</init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
      
  <servlet-mapping>
    <servlet-name>welcome</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>name</servlet-name>
    <url-pattern>/name</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>language</servlet-name>
    <url-pattern>/language</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>week</servlet-name>
    <url-pattern>/week</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>school</servlet-name>
    <url-pattern>/school</url-pattern>
  </servlet-mapping>
</web-app>